/* font-family: "Mulish", sans-serif; */
/* font-family: "Philosopher", sans-serif; */
:root{
    --primary-color:#7d07cdcf;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--primary-color);
}
.wapper{
    background-color: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px,20px,10px,0px, rgba(0,0,0,0.15); 
}

.heading{
    font-size: 32px;
    margin-bottom: 40px;
    font-family: "Philosopher", sans-serif;
}
/* peudo selector */

.heading::after{
    content: '';
    height: 3px;
    width: 500px;
    border-radius: 3px;
    background-color:var(--primary-color);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}
blockquote{
    font-size: 26px;
    min-height: 60px;
    font-family: "Mulish", sans-serif;
    margin: 25px ,0;
}
blockquote::before,
blockquote::after{
    content:  ' " ';
}

.author{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    font-weight: bold;
    font-family: "Philosopher", sans-serif;
}
.author::before{
    content: '';
    height: 2px;
    width: 12px;
    background-color:var(--primary-color) ;
    position: absolute;
    top: 50%;
    left: -19%;
    /* transform: translate(-50%); */
}

.buttons{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-family: "Philosopher", sans-serif;

}

.buttons button{
    background-color:var(--primary-color) ;
    color: #fff;
    border-radius: 10px; 
     height: 45px; 
     width:120px ; 
     margin: 5px; 
    cursor: pointer; 
     font-size: 15px;
     border: solid var(--primary-color) 2px; 
}

.buttons button i{
    margin-right: 10px;
    font-size: 20px;
}
